<div class="card w-100 text-white">
    <div class="card-header">
        <div class="p-0 float-right">
            <i class="{{ rightIcon }}"></i>
        </div>
        <div class="text-value">
            <i *ngIf="leftIcon" class="{{ leftIcon }}"></i> {{ titleText }}
        </div>
    </div>
    <div class="card-body align-items-center d-flex flex-column justify-content-center py-0">
        <div [innerHTML] = "actionName"> {{ actionName }} </div>
        <small class="text-center mb-5" style="font-size:65%;" [innerHTML] = "subtitle"> {{ subtitle }} </small>
    </div>
</div>