<div class="form-group row">
  <label class="col-md-3 col-form-label" for="hf-email">{{ featureName }}</label>
  <div class="col-md-9">
    <input
      type="text"
      class="form-control"
      placeholder="Enter a value.."
      [value]="defaultValue"
      [formControl]="inputControl"
    />
    <div *ngIf="inputControl.errors" class="mt-2 px-3 py-2 alert alert-danger" role="alert">
      <span *ngIf="inputControl.errors.required"><i>{{ featureName }}</i> cannot be empty. Please enter a value</span>
      <span *ngIf="inputControl.errors.min">The minumum value for <i>{{ featureName }}</i> is {{ minValue }}</span>
      <span *ngIf="inputControl.errors.max">The maximum value for <i>{{ featureName }}</i> is {{ maxValue}}</span>
      <span *ngIf="inputControl.errors.pattern"><i>{{ featureName }}</i> must be numeric</span>
    </div>
  </div>
</div>
