<app-progress-loader [message]="loadingMessage">
  <div class="animated fadeIn" pageContent>
    <div class="mt-2">
      <h2>Features selection for {{ countryName }}</h2>
      <p class="text-muted">
        Change the values of your features for the period: {{ startDate }} :
        {{ endDate }}
      </p>
    </div>

    <div class="pb-2">
      <button
        type="button"
        class="btn btn-warning float-right d-flex align-items-center"
        (click)="clearStorage()"
      >
        <i class="cil-action-undo mr-2"></i
        ><span>Revert to the original values</span>
      </button>
    </div>

    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Constant features</a>
        <ng-template ngbNavContent>
          <div [style.display]="isPage[0] ? 'block' : 'none'">
            <h5>Demographic features</h5>
            <hr />

            <app-group-feature-selection
              [featuresGroup]="features.demographic"
              [customValidators]="demographicValidators"
              (featureChange)="onFeatureChange('demographic', $event)"
              (groupValid)="changeValidity('demographic', $event)"
              #inputFeaturesGroup
            >
            </app-group-feature-selection>

            <h5>Sanitary features</h5>
            <hr />

            <app-group-feature-selection
              [featuresGroup]="features.sanitary"
              (featureChange)="onFeatureChange('sanitary', $event)"
              (groupValid)="changeValidity('sanitary', $event)"
              #inputFeaturesGroup
            ></app-group-feature-selection>
          </div>

          <div [style.display]="isPage[1] ? 'block' : 'none'">
            <h5>Unemployment rate (%)</h5>
            <hr />

            <app-group-feature-selection
              [featuresGroup]="features.unemployment"
              (featureChange)="onFeatureChange('economic', $event)"
              (groupValid)="changeValidity('economic', $event)"
              #inputFeaturesGroup
            ></app-group-feature-selection>
          </div>

          <div [style.display]="isPage[2] ? 'block' : 'none'">
            <h5>GDP (mld)</h5>
            <hr />

            <app-group-feature-selection
              [featuresGroup]="features.gdp"
              (featureChange)="onFeatureChange('gdp', $event)"
              (groupValid)="changeValidity('gdp', $event)"
              #inputFeaturesGroup
            ></app-group-feature-selection>
          </div>

          <div class="d-flex justify-content-end">
            <ngb-pagination
              [collectionSize]="isPage.length * 10"
              [(page)]="pageNumber"
              [directionLinks]="false"
              (pageChange)="changePage($event)"
              size="md"
            ></ngb-pagination>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Variable features</a>
        <ng-template ngbNavContent>
          <div style="overflow-x: scroll">
            <table class="table table-striped w-100">
              <thead>
                <tr>
                  <th scope="col" style="width: 10%" class="feature-text">#</th>
                  <th
                    scope="col"
                    style="width: 10%"
                    class="feature-text"
                    *ngFor="let feature of features.policies"
                  >
                    {{ feature.fullName }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let date of dates; let i = index">
                  <th scope="row" class="feature-text">{{ date }}</th>
                  <td *ngFor="let f of features.policies; let j = index">
                    <app-stringency-level
                      [(stringency)]="features.policies[j]['value'][i]"
                      [maxLevel]="features.policies[j]['range'][1]"
                    ></app-stringency-level>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

    <div class="row justify-content-around my-5">
      <div class="col-4">
        <button
          type="button"
          class="btn btn-block btn-lg btn-danger"
          [routerLink]="['/reproduction-rate']"
        >
          Go back
        </button>
      </div>

      <div class="col-4">
        <button
          [disabled]="!isFormValid()"
          type="button"
          class="btn btn-block btn-lg btn-success"
          (click)="predict()"
        >
          Predict
        </button>
      </div>
    </div>
  </div>
</app-progress-loader>
