<app-selection-modal
  #countrySelection
  [modalTitle]="'Country selection'"
  (saveRequest)="saveCountry($event)"
>
  <form modalContent>
    <div class="form-group">
      <label for="country">Select a country: </label>
      <ng-select
        name="country"
        [items]="countries"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedCountryId"
      >
      </ng-select>
    </div>
  </form>
</app-selection-modal>

<app-selection-modal
  #periodSelection
  [modalTitle]="'Period selection'"
  (saveRequest)="savePeriod($event)"
>
  <form modalContent>
    <ngb-datepicker
      #dp
      [minDate]="{ year: 2020, month: 4, day: 1 }"
      [maxDate]="{ year: 2021, month: 5, day: 31 }"
      [startDate]="{ year: 2020, month: 4 }"
      (dateSelect)="onDateSelection($event)"
      [displayMonths]="2"
      [dayTemplate]="t"
      outsideDays="hidden"
    >
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span
        class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
      >
        {{ date.day }}
      </span>
    </ng-template>
  </form>
</app-selection-modal>

<app-progress-loader [message]="loadingMessageCountries">
  <div pageContent class="animated fadeIn">
    <div class="row mt-4">
      <div class="col-sm-12 col-lg-4">
        <app-dashboard-card
          [leftIcon]="selectedCountryObject?.flag"
          [titleText]="selectedCountryObject?.name"
          [actionName]="'Pick your country'"
          [rightIcon]="'icon-location-pin'"
          [bgColor]="'#333333'"
          (click)="countrySelection.open()"
        ></app-dashboard-card>
      </div>
      <!--/.col-->
      <div class="col-sm-12 col-lg-4">
        <app-dashboard-card
          [titleText]="selectedPeriod"
          [actionName]="'Choose a period'"
          [rightIcon]="'icon-calendar'"
          [bgColor]="'#333333'"
          (click)="periodSelection.open()"
        ></app-dashboard-card>
      </div>
      <!--/.col-->
      <div
        class="col-sm-12 col-lg-4"
        [routerLink]="['/feature-selection', selectedCountryObject?.iso_code]"
        [queryParams]="{
          start_date: formatDate(getStartDate()),
          end_date: formatDate(getEndDate()),
          country_name: selectedCountryObject?.name,
          type: 'reproduction'
        }"
      >
        <app-dashboard-card
          [titleText]=""
          [actionName]="'Change your features'"
          [rightIcon]="'icon-pencil'"
          [bgColor]="'#333333'"
        ></app-dashboard-card>
      </div>
    </div>
    <!--/.row-->
  </div>
</app-progress-loader>

<app-progress-loader [hidden]="!countryLoaded" [message]="loadingMessagePredictions">
  <div pageContent class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">COVID-19 Transmissibility</h4>
            <div class="small text-muted">Reproduction rate</div>
          </div>
          <!--/.col-->
          <div class="col-sm-7 d-none d-md-block">
            <!-- <button type="button" class="btn btn-primary float-right">
                <i class="icon-cloud-download"></i>
              </button> -->
            <!--- <button
              *ngIf="customPredictions"
              (click)="onSwitchClick()"
              type="button"
              class="btn btn-primary float-right mr-2 d-flex align-items-center"
            >
              <i class="cil-swap-horizontal mr-2"></i>
              <span *ngIf="isOriginalData">Plot with custom values</span>
              <span *ngIf="!isOriginalData">Plot with original values</span>
            </button> -->
            
            <p class="text-muted float-right d-flex align-items-center">ℹ️<small class="ml-1 font-italic">Click on a label in the legend to show/hide the related values</small></p>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
        <div
          class="chart-wrapper mt-3 mx-3"
          style="height: 300px; margin-top: 40px"
        >
          <canvas
            baseChart
            class="chart"
            [datasets]="chart.y"
            [labels]="chart.x"
            [options]="chartSettings.options"
            [colors]="chartSettings.color"
            [legend]="chartSettings.legend"
            [chartType]="chartSettings.type"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</app-progress-loader>

<app-progress-loader [hidden]="!countryLoaded" [message]="loadingMessageSHAP">
  <div pageContent class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Policy effectiveness ranking</h4>
            <div class="small text-muted">
              Relative impact of implemented COVID-19 policies on viral control
            </div>
          </div>
          <!--/.col-->
        </div>
        <div class="chart-wrapper mt-3 mx-3">
          <canvas
            #shapChart
            baseChart
            class="chart"
            [datasets]="barChart.y"
            [labels]="barChart.x"
            [options]="barChartSettings.options"
            [height]="barChartSettings.height"
            [colors]="barChartSettings.color"
            [legend]="barChartSettings.legend"
            [chartType]="barChartSettings.type"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</app-progress-loader>
