
  .fs-18 {
    font-size: 18px;
  }

  .h-250 {
    height:250px;
  }

  .bottom-bar-dark {
    background-color: #353B3C;
    color:white;
  }

  .bottom-bar-light {
    background-color: #EEF0F2;
    color:black;
  }

  .icon-large {
    font-size:64px;
  }