<div class="bg-image w-100 h-100"></div>
<div class="container bg-text text-center animated fadeInUp">
  <h1 class="text-left display-4" style="height:130px">
    <b><i>WHAT IF</i></b>
    <span
      *ngIf="start"
      typingAnimation
      [typeSpeed]="50"
      [startDelay]="100"
      [hideCursorOnComplete]="true"
      (complete)="onTypingAnimationComplete()"
    >
      we {{ X }} {{ Y }} in {{ Z }}?</span
    >
  </h1>

  <!-- <h3 class="h1">A global pandemic policy simulator</h3> -->
  <h6 class="h2 mt-5">What COVID-19 policies would you have put in place?</h6>
  <button
    type="button"
    class="btn btn-block btn-pill btn-outline-light mx-auto my-button mt-4"
    [routerLink]="'/reproduction-rate'"
  >
    Explore the platform
  </button>
</div>
<div class="row align-items-end fixed-bottom">
  <app-details-box
    class="col-3"
    [title]="'Visualize the impact of COVID policies in your country'"
    [description]="
      'Explore how your government responded to the pandemic in your country, and see which policies were most effective'
    "
    [icon]="'cil-graph'"
  ></app-details-box>

  <app-details-box
    class="col-3"
    [title]="'Make a country-specific evidence-based response strategy'"
    [description]="
      'Test the effect of changing COVID policies on a digital twin of your country'
    "
    [icon]="'fa fa-question-circle'"
  ></app-details-box>

  <app-details-box
    class="col-3"
    [title]="'Understand the economic cost of policies'"
    [description]="
      'The AI algorithm computes the economic cost of restrictions in terms of unemployment and find the optimal policies that minimize both COVID spread and economic damage'
    "
    [icon]="'cil-money'"
  ></app-details-box>

  <app-details-box
    class="col-3"
    [title]="'An (almost) global model'"
    [description]="
      'This proof of concept includes 28 European countries...but 116 more are coming soon.'
    "
    [icon]="'cil-globe-alt'"
  ></app-details-box>
</div>
